ADMIN_USERNAME=admin
ADMIN_PASSWORD=
GIT_USER=joecomscience
GIT_TOKEN=
GIT_CREDENTIAL_ID=github_credential
GIT_BASE_URL=https://github.com/
GIT_PIPELINE_REPO=joecomscience/jenkins-configuration
JENKINS_URL=http://localhost:8080
GIT_SHARE_LIB_REPO=joecomscience/jenkins-shared-libs
SHARED_LIB_CREDS_ID=pipeline-library